/* cart.css */
.cart {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
    position: fixed;
    right: 20px;
    top: 100px;
    width: 300px;
    z-index: 1000;
}

.cart h2 {
    margin-top: 0;
}

.cart ul {
    list-style-type: none;
    padding: 0;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.cart-item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
}

.pay-btn {
    margin-top: 10px;
    padding: 10px;
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.cart-btn {
    margin: 10px 0;
    padding: 10px;
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
