.button{
    margin: 8px;
    padding-top: 8px;
    padding-left: 8px;
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}
